[Unit]
Description=Audio card powersave control
 
[Service]
Type=simple
ExecStart=/usr/bin/audio_start.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
